/*========================================================================

	CSS Reset

========================================================================*/
*{
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	padding: 0;
}
/*========================================================================

	Variables

========================================================================*/
:root{
	--primary-background: #333;
	--primary-background-light: #555;
	--primary-background-lighter: #777;
	--primary-background-lightest: #999;

	--primary-accent: #ef6c00;
	--primary-accent-light: #ff9d3f;
	--primary-accent-dark: #b53d00;

	--secondary-accent: #1976d2;
	--secondary-accent-light: #63a4ff;
	--secondary-accent-dark: #004ba0;

	--text-color-dark: #000;
	--text-color-light: #fff;
	--text-color-accent: var(--primary-accent);

	--text-xxlarge: 2.2rem;
	--text-xlarge: 1.8rem;
	--text-large: 1.4rem;
	--text-medium: 1rem;
	--text-small: .8rem;
	--text-xsmall: .6rem;


	--primary-font: 'Open Sans', sans-serif;
	--accent-font: 'Josefin Sans', sans-serif;

	--margin-standard: 2rem;
}

/*========================================================================

	Typography

========================================================================*/
html{

  font-family: var(--primary-font);
	line-height: 1.5;
	color: var(--text-color-light);
}

h1, h2, h3, h4, h5, h6{
	font-family: var(--accent-font);
}

h1{
	font-size: var(--text-xxlarge);
}

h2{
	font-size: var(--text-xlarge);
}

h3{
	font-size: var(--text-large);
}

h4{
	font-size: var(--text-medium);
	text-decoration: underline;
}

h5{
	font-size: var(--text-small);
}

h6{
	font-size: var(--text-xsmall);
}

header li a{
    font-size: 1.2rem;
	  font-weight: bold;
}

p{
	font-size: var(--text-medium);
	margin-bottom: var(--margin-standard);
}

strong{
	font-size: var(--text-medium);
	font-weight: 700;
}

em{
	font-size: var(--text-medium);
	font-weight: 400;
	font-style: italic;
}

text{
	font-size: .7rem;
	fill: var(--text-color-light);
}

/*========================================================================

	Layout

========================================================================*/
body{
	background-color: var(--primary-background-lighter);
}

header{
	margin-bottom: var(--margin-standard);
}

main{
	max-width: 768px;
}

h2{
	margin: 0 var(--margin-standard);
}

/*========================================================================

	Button Styles

========================================================================*/
.button-link{
	background-color: var(--primary-accent);
	border: 2px var(--text-color-light) solid ;
	border-radius: 1.5rem;
	box-shadow: 0 .2rem 0 var(--primary-background-light);
	color: var(--text-color-light);
	display: inline-block;
	font: var(--text-medium)/1.5 var(--accent-font);
	margin: .5rem;
	padding: .5rem 1.5rem;
	text-decoration: none;
	transition: background-color 0.5s ease;
}

.button-link:hover, .button-link:focus{
	transition: background-color 0.5s ease;
	background-color: var(--primary-accent-dark);
	box-shadow: 0 0 0 var(--primary-background-light);
}

.button-link:active{
	background-color: var(--primary-accent-light);
}

.hero-button-link{
	border-radius: 2rem;
	font: var(--text-large)/1.5 var(--accent-font);
}

.ghost-button-link{
	background-color: transparent;
}

.button-link.secondary {
	--primary-accent: var(--secondary-accent);
}

.button-link.secondary:hover, .button-link.secondary:focus {
	--primary-accent-dark: var(--secondary-accent-dark);
}

.button-link.secondary:active{
	background-color: var(--secondary-accent-light);
}

.button-link.tertiary {
	--primary-accent: var(--primary-background-light);
}

.button-link.tertiary:hover, .button-link.tertiary:focus {
	--primary-accent-dark: var(--primary-background);
}

.button-link.tertiary:active{
	background-color: var(--primary-background-lightest);
}

/*========================================================================

	Headers

========================================================================*/
header{
	background-color: var(--primary-background);
	border-bottom: .5rem solid var(--secondary-accent);
	box-shadow: 0 .2rem 0 var(--primary-background-light);
}

header .logo{
	color: var(--text-color-accent);
	font-family: var(--accent-font);
	font-size: 3rem;
	margin: var(--margin-standard);
	text-decoration: none;
}

/*========================================================================

	Navigation

========================================================================*/
nav li{
	display: inline-block;
	padding: .5rem;
}

nav a{
	color: var(--text-color-light);
	text-decoration: none;
}

nav a:hover{
	color: var(--text-color-accent);
	font-weight: 700;
}

/*========================================================================

	Main

========================================================================*/
main{
	padding: 1rem;
}
main section{
	margin: 0 var(--margin-standard) var(--margin-standard);
}
table{
	border-collapse: collapse;
	margin: var(--margin-standard) auto;
}

th{
	font-size: 0;
	line-height: 0;
	width: 10rem;
}

th:first-child{
	width: 20rem;
}

td{
	border-bottom: 1px solid white;
}

tr:last-child td{
	border-bottom: none;
}
ol li{
	margin-left: var(--margin-standard);
}

ol ol li{
	margin-left: var(--margin-standard);
}

ul li{
	margin-left: var(--margin-standard);
}

ul ul li{
	margin-left: var(--margin-standard);
}

details{
	border-bottom: 2px solid white;
}
details div{
  padding: 0 var(--margin-standard);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255);
}
summary{
	font: var(--text-large)/1.5 var(--accent-font);

  cursor: pointer;
	outline: none;
}

dialog{
	min-width: 30rem;
	margin: 0 auto;
	padding: var(--margin-standard);
	border-radius: 30px;
	border: 0;
	box-shadow: 0 .2rem 0 var(--primary-background-lightest);
	/*add media queries*/
}

dialog::backdrop{
	background: linear-gradient(0deg, rgba(	181, 61, 0,.7)0%, rgba(51, 51, 51,.7) 25%);
}

dialog[open] {
	animation: expand .3s ease-in .3s;
	animation-fill-mode: forwards;
	opacity: 0;

}

@keyframes expand {

		0% {
			opacity: 0;
			transform: scale(0, 0);
		}

		75% {
			transform: scale(1.1, 1.1);
		}

		100% {
			opacity: 1;
			transform: scale(1, 1);

		}

}

/*========================================================================

	Forms

========================================================================*/
label{
	font-family: var(--accent-font);
}

input:not([type=submit]), textarea, select {
	border: 2px solid white;
	border-radius: 1rem;
	display: block;
	font-family: var(--primary-font);
	margin-bottom: calc(var(--margin-standard)/2);
	min-width: 25rem;
	padding-left: .5rem;
	transition: border 0.5s ease;
	-webkit-appearance: none;
}

input[type=submit]{
	background-color: var(--secondary-accent);
	border: 2px var(--text-color-light) solid ;
	border-radius: 1.5rem;
	box-shadow: 0 .2rem 0 var(--primary-background-light);
	color: var(--text-color-light);
	display: inline-block;
	font: var(--text-medium)/1.5 var(--accent-font);
	margin: .5rem;
	padding: .5rem 1.5rem;
	text-decoration: none;
	transition: background-color 0.5s ease;
}

select{
	min-width: 15rem;
}

input:not([type=submit]):focus, textarea:focus, select:focus {
	border: 2px solid var(--secondary-accent);
	box-shadow: inset 0 -.1rem 0 #111;
	outline: none;
	transition: border 0.5s ease;
	transition: box-shadow 0.5s ease;
}

input::placeholder, textarea::placeholder, option:disabled{
	color: var(--primary-background-lightest);
	font-family: var(--primary-font);
	font-style: italic;
}

input.error{
	border: 2px solid var(--primary-accent);
}

input.error:focus{
	border: 2px solid var(--primary-accent);
}

input[disabled]{
	background-color: var(--primary-background-lightest);
	border: 2px solid var(--primary-background-light);
	cursor: not-allowed;
	padding-left: .5rem;
}

input[disabled]::placeholder{
	color: var(--primary-background-light);
}

textarea{
	border-radius: 10px;
	resize: none;
}

@media all and (max-width: 699px){
	input:not([type=submit]), textarea{
		min-width: 20rem;
	}
}
/*========================================================================

	Examples

========================================================================*/
section figure{
	display: inline-block;
}

.typefaces p{
	margin-left: var(--margin-standard);
}

.color-swatch {
	height: 16.5rem;
	width: 10rem;
}
.color-palette svg{
	margin: 1.5rem 0;
}

.typefaces p em{
	font-weight: 700;
}

.typefaces p:last-child em{
	font-family: var(--primary-font);
}

.page-title-row td:first-child{
	font-size: var(--text-xxlarge);
	font-family: var(--accent-font);
}

.section-title-row td:first-child{
	font-size: var(--text-xlarge);
	font-family: var(--accent-font);
}

.subsection-title-row td:first-child{
	font-size: var(--text-large);
	font-family: var(--accent-font);
}

.inner-subsection-row td:first-child{
	font-size: var(--text-medium);
	font-family: var(--accent-font);
}

.featured-text-row td:first-child{
	font-size: var(--text-large);
	font-family: var(--accent-font);
	font-weight: 600;
	font-style: italic;
}

.heavy-text-row td:first-child{
	font-size: var(--text-medium);
	font-weight: 700;
}

.emphasized-text-row td:first-child{
	font-size: var(--text-medium);
	font-weight: 400;
	font-style: italic;
}

.featured-text{
	font-size: var(--text-large);
	font-family: var(--accent-font);
	font-weight: 600;
	font-style: italic;
}
/*========================================================================

	Footer

========================================================================*/
footer p{
	font-size: var(--text-small);
	margin-top: var(--margin-standard);
}
